<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771697418364-18b1gg2lf7rmthmmcvebq1al1he082a4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771697418364-18b1gg2lf7rmthmmcvebq1al1he082a4</string>
	<key>API_KEY</key>
	<string>AIzaSyDk4owRO4XckbOlj6fM7W-kYbQXFAAaAL0</string>
	<key>GCM_SENDER_ID</key>
	<string>771697418364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yacchi.Aruaru</string>
	<key>PROJECT_ID</key>
	<string>neverhaveiever-a93e0</string>
	<key>STORAGE_BUCKET</key>
	<string>neverhaveiever-a93e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771697418364:ios:80b4007ed7f38c6b27a9f9</string>
	<key>DATABASE_URL</key>
	<string>https://neverhaveiever-a93e0.firebaseio.com</string>
</dict>
</plist>